.ibm__ngv_main {
    display: flex;
    background-color: #f4f4f4;
    flex: 1 0 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: transform 1000ms ease-in-out;
}

.ibm__text-wrapper {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
}

.ibm__label {
    color: #4a4a4a;
}